<!DOCTYPE html>
<html lang="en">

<head>
    <title>E-reg Document</title>
</head>

<body style="font-family: Arial, Helvetica, sans-serif; margin: 15px !important;">
    <table>
        <tr>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td>
                            <img height="50" src="https://opsinsightuat.azurewebsites.net/e-reg/logo/NewLogos/JAQ/JAQ_ID_BLK_RGB.jpg">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table style="width: 80%;text-align: right;margin-left: auto;">
                    <tr>
                        <td style="font-size: 12px;">
                            <h1 style="font-style: italic;font-size: 15px; margin: 0; margin-top: 0px;">GUEST
                                REGISTRATION CARD</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="font-size: 12px;">
                <h3
                    style="background: #f2f2f2;padding: 10px; font-size: 12px; font-style: italic; margin-top: 5px !important;">
                    GUEST INFORMATION</h3>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <table>

                    <tr>
                        <td style="font-size: 11px;"><b>Guest Name:</b> </td>
                        <td style="padding-left: 20px; font-size: 11px;">$guestTitleName $guestName $guestSurnameName
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Address :</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$streetAddress, $cityName, $countryCode
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table>
                    <tr>
                        <td style="font-size: 11px;"><b>Phone:</b> </td>
                        <td style="padding-left: 20px; font-size: 11px;">$phoneNumber</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Email:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$email</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Company:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Group:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;"></td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Confirmation No:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$confirmationNumber</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Membership No:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$accountId</td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr>
            <td colspan="2" style="font-size: 12px;">
                <h3
                    style="background: #f2f2f2;padding: 10px; font-size: 12px; font-style: italic;margin: 0; margin-top: 5px !important;">
                    STAY INFORMATION</h3>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <table>
                    <tr>
                        <td style="font-size: 11px;"><b>Room Number:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$roomNumber</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Arrival Date:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$arrivalDate</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Departure Date:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$departureDate</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Payment Method:</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$paymentMethod</td>
                    </tr>
                </table>
            </td>
            <td style="width: 50%; ">
                <table>
                    <tr>
                        <td style="font-size: 11px;"><b>Average Nightly Rate :</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$averageNightlyRate</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Stay Total (Incl.taxes) :</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$stayTotal</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Fixed Charge (Incl.Taxes):</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$fixedCharge</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>No. of Adult(s)/Child(ren) :</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$noOfAdult / $noOfChildren</td>
                    </tr>
                    <tr>
                        <td style="font-size: 11px;"><b>Room Type :</b></td>
                        <td style="padding-left: 20px; font-size: 11px;">$roomTypeCharged</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
          <td>
            <tr>
                <td colspan="2" style="font-size: 11px;">

                    <b>
                        Check-in time is 15:00 / Check-out time is 12:00 noon.
                    </b>
                </td>

            </tr>
            <tr><td>&nbsp</td></tr>
            <tr>

                <td colspan="2" style="font-size: 11px;">
                    <b>
                        Room Rates are including 10% Service Charge, 7% Municipality Fee, 5% Value Added Tax and including AED 20 Tourism Dirham Fee per bedroom per night.
                    </b>
                </td>
            </tr>
          </td>
          
        </tr>
        <tr><td>&nbsp</td></tr>
        <tr>
                <td colspan="2" style="text-align: center; vertical-align: middle; padding-top: 10px;">
                    <div style="display: inline-block; position: relative;">
                        <img style="width: 100px; height: 40px;"
                            src="data:image/png;base64,$guestSignature" alt="Red dot" />
                    </div>
                    <div>
                        <p style=" margin-top: 0; background-color: #FFF; height: 20px; width: 99px; "><b style="background: white;
                                        padding: 10px; padding-left: 0;font-size: 11px;">Guest Signature:</b></p>
                
                        <p style="border-bottom: 1px solid #000; margin-top: -20px;"></p>
                    </div>
                </td>
          
        </tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr>
            <td colspan="2" style="font-size: 12px;">
                <h3
                    style="background: #f2f2f2;padding: 10px; font-size: 12px; font-style: italic;margin: 0; margin-top: 0px !important;">
                    LIABILITY INFORMATION</h3>
            </td>
        </tr>
        <tr>
            
            <td colspan="2" style="font-size: 11px;">
                <tr>
                    <td colspan="2" style="font-size: 11px;">
                      <p>
                        All guests and their visitors are required to present an original and valid passport or GCC National ID as per UAE law. 
                      </p>
                    </td>  
                </tr>
                    <tr>
                        <td colspan="2" style="font-size: 11px;">
                          <p>
                            Notwithstanding any method of payment, I agree that I am personally
                            liable for all costs and charges incurred in the event that any such
                            costs and charges are not paid in full and confirm that my
                            responsibility and liability in that regard is not waived or released in
                            any way.
                          </p>
                        </td>  
                    </tr>
            </td>
        </tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr>
          <td colspan="2" style="font-size: 12px;">
              <h3
                  style="background: #f2f2f2;padding: 10px; font-size: 12px; font-style: italic;margin: 0; margin-top: 0px !important;">
                  PRIVACY INFORMATION</h3>
          </td>
      </tr>
      
      <!-- Privacy Policy  -->

      $isSubscribedStatus

    </table>
    
    <table style="width: 100%;">
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>
        <tr><td>&nbsp</td></tr>


        <tr>
            <td style="text-align: center;margin-top: 0px !important; font-size: 11px;">
                <p style="margin:0; font-size:11px">$hotelName managed and operated by Jumeirah
                    International LLC
                    trading as Jumeirah.</p>

                <p style="margin:0;font-size:11px">A limited liability company incorporated in Dubai,
                    commercial
                    registration number 57869, share capital Dhs. 300,000 fully paid up.</p>
            </td>
        </tr>
    </table>
</body>
</html>